html, body, .App {
	background-color: #363637;
	color: #ECECEC;
}
.min-100, .App {
	height: 100%;
	width: 100%;
	min-width: 100% !important;
	min-height: 100% !important;
}

/*** GENERAL ***/
.link {
	color: #008B8B;
}
.link:hover {
	color: #CCAC5B;
	text-decoration: none;
}
.button {
	width: 125px;
	border-radius: .25rem;
	margin: 0px;
	border-color: #264653;
	background-color: #008B8B;
	color: #ECECEC;
}
.button-transparent {
	background-color: transparent;
	color: #264653;
}
.button:hover {
	border-radius: .25rem;
	color: #264653;
	border-color: #264653;
	background-color: #CCAC5B;
}
.page-header {
	padding-top: 5rem;
	color: #CCAC5B;
	text-align: center;
	font-size: 3rem;
	font-weight: normal bold; 
}
.sub-header {
	background-color: #264653;
	border-radius: .25rem;
	color: #ECECEC;
	text-align: center;
	font-size: 2rem;
	font-weight: normal bold; 
}
.listings {
	padding-left: 25rem;
}

/*** MENU ***/
.menu {
	background-color: #ECECEC;
	padding: 1rem;
}
.menu-link {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: #363637;
}
.menu-link:hover {
	color: #CCAC5B;
	text-decoration: none;
}

/*** ADMIN-MENU ***/
.admin-menu-container {
	width: 20rem;
    margin: 0 33% 0 0;
	max-width: 40%;
    position: absolute;
	height: 100%;
	background-color: #264653;
}
.admin-menu,
.admin-menu:hover {
	padding: 5px;
	padding-left: 2rem;
	font-size: 1.5rem;
}
.admin-menu {
	color: #ECECEC;
}
.admin-menu:hover {
	color: #264653;
    background-color: #ECECEC;
	text-decoration: none;
}
.admin-notification {
	margin-left: 1.5rem;
	background-color: #CCAC5B;
	color: #264653;
}
.menu-header {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
}
.admin-icon {
	margin-right: 1rem;
}

/*** ADMIN ***/
hr {
	display: flex;
	justify-content: center;
	background-color: #ECECEC;
	height: 5px;
}
.card {
	padding: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	width: 30rem;
	background-color: #ECECEC;
	color: #363637;
	border-color:#363637;
}
.card-body {
	flex: 1 0 auto;
	align-items: flex-end;
	justify-content: center;
}
.card-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

/*** FLEX ***/
.flex {
	display: flex;
}
.flex-row {
	flex-flow: row wrap;
}
.flex-col {
	flex-flow: column wrap;
}
.flex-children > * {
	flex-grow: 1;
}
.flex-left {
	justify-content: flex-start;
}
.flex-right {
	justify-content: flex-end;
}
.flex-center {
	justify-content: center stretch;
}
.flex-middle {
	align-items: center;
}
.flex-bottom {
	align-items: flex-end;
}
.flex-child {
	flex: 1
}

/*** FORMS ***/
textarea,
Form.Control,
input[type="text"],
input[type="password"],
input[type="email"]  {
	border-radius: .25rem;
	background-color: #ECECEC;
}

textarea:focus,
Form.Control,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus { 
	border-radius: .25rem;
	border-width: .2rem;
	border-color: #CCAC5B;
	background-color: #ECECEC;
}

.inputError {
	color: red;
}