html, body, .App {
	background-color: #363637;
	color: #ECECEC;
}

/** COLORS
	#008B8B
	#264653
	#CCAC5B
	#363637
	#ECECEC
**/

/*** GENERAL ***/
.link {
	color: #008B8B;
}
.link:hover {
	color: #363637;
}
.button {
	width: 125px;
	border-radius: .25rem;
	margin: 0px;
	color: #264653;
	border-color: #264653;
}
.button-background {
	background-color: #008B8B;
	color: #ECECEC;
}
.button-outline-gray {
	background-color: transparent;
}
.button:hover {
	border-radius: .25rem;
	color: #264653;
	border-color: #264653;
	background-color: #CCAC5B;
}
.page-header {
	padding-top: 5rem;
	color: #CCAC5B;
	text-align: center;
	font-size: 3rem;
	font-weight: normal bold; 
}

/*** MENU ***/
.menu {
	display: flex;
	align-self: stretch;
	flex-flow: row wrap;
	background-color: #ECECEC;
	padding: 1rem;
}
.menu > * {
	flex-grow: 1;
}
.menu-row {
	justify-content: flex-start center;
}
.menu-login {
	justify-content: flex-end center;
}
.menu-link {
	flex: 1;
	padding-left: 1rem;
	padding-right: 1rem;
	align-self: center;
	font-size: 2rem;
	font-weight: bold;
	color: #363637;
}
.menu-link:hover {
	color: #CCAC5B;
	text-decoration: none;
}
.menu-button {
	align-self: center;
	justify-content: space-evenly;
	margin-left: 2rem;
}

/*** ADMIN-MENU ***/
.admin-menu-container {
	width: 15rem;
	max-width: 40%;
    position: fixed;
	height: 100%;
	background-color: #264653;
}
.admin-menu {
	padding: 5px;
	color: #ECECEC;
	font-size: 2rem;
}
.admin-menu:hover {
	padding: 5px;
	color: #264653;
    background-color: #ECECEC;
	text-decoration: none;
}

/*** FORMS ***/
textarea,
input[type="text"],
input[type="password"],
input[type="email"]  {
	border-radius: .25rem;
	background-color: #ECECEC;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus { 
	border-radius: .25rem;
	border-width: .2rem;
	border-color: #CCAC5B;
	background-color: #ECECEC;
}

.inputError {
	color: red;
}